process.container = 'nextflow/rnaseq-nf'
docker.runOptions = '-u $(id -u):$(id -g)'
//docker.enabled = true


mail {
    from = 'sharipaigul@gmail.com'
    to = 'sharipaigul@gmail.com'
    smtp.host = 'smtp.gmail.com'
    smtp.port = 587
    smtp.user = "sharipaigul@gmail.com"
    smtp.password = "olge kjxh hyoq hfph"
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = true
}